.filters {
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    border: 1px solid black;
    position: relative;
}

.btn {
    font-size: 18px;
    background-color:  #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: none;
    margin-right: 30px;
}

.btn:hover {
    opacity: .9;
}

.locations {
    height: 100%;
    width: 25%;
    background-color: white;
    position: absolute;
    left: .01em;
    border-right: 1px solid #DDDDDD;
    text-align: center;
}

.locations h3,
.amenities h3,
.amenities h4,
.locations h4 {
    color: #695f60;
    padding-right: 2rem;
}

.locations h4,
.amenities h4 {
    font-size: 14px;
    margin-top: -25px;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-top: 0px;
    padding-top: 1rem;
}

.amenities {
    height: 100%;
    width: 25%;
    background-color: white;
    position: absolute;
    left: 14em;
    text-align: center;
}
