.filters {
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    border: 1px solid #DDDDDD;
    position: relative;
}

.btn {
    font-size: 18px;
    background-color:  #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: none;
    margin-right: 30px;
}

.btn:hover {
    opacity: .9;
}

.locations {
    height: 100%;
    width: 25%;
    background-color: white;
    left: .01em;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    text-align: center;
    position: absolute;
    top: 0rem;
}

.top-title,
.title {
    color: #695f60;
    padding-right: 3rem;
}

.title {
    margin-top: -20px;
}

.amenities {
    height: 100%;
    width: 25%;
    background-color: white;
    left: 14em;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    text-align: center;
    top: 0rem;
    position: absolute;


}

.amenities-top {
    display: flex;
    flex-direction: column;
    margin: -1em;
}

.second-dropdown {
    background-color: rgb(227, 233, 233);
    display: flex;
    color: #695f60;
    margin-left: -2.5rem;
    margin-bottom: -1.5rem;
    border-radius: 4px;
    border-top: 1px solid #DDDDDD;
    display: none;
    margin-top: -1.3rem;
    padding: 1rem;

}

.second-dropdown > ul > li > p {
    margin-top: .2rem;
    text-align: start;

}

.second-dropdown > ul > li {
    list-style: none;
}

.dropdown1-sub {
    margin-top: -1em;
}
.dropdown1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.dropdown2-sub {
    margin-top: -1em;
}


.dropdown1-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


.first-dropdown {
    background-color: rgb(227, 233, 233);
    list-style: none;
    display: flex;
    justify-content: flex-start;
    color: #695f60;
    margin-left: -2.5rem;
    margin-bottom: -1.5rem;
    border-radius: 4px;
    border-top: 1px solid #DDDDDD;
    margin-top: -1.3rem;
    display: none;
}

.first-dropdown > ul > li {
    list-style: none;
}


ul li:hover .first-dropdown {
    display:block;
}

ul li:hover .second-dropdown {
    display:block;
}
